.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# IDE / Editor specific
.idea/
.vscode/
.venv
__pycache__

# Data files
mock_drafts.json
eleveners_2025_mock_adp.csv

# Node modules
frontend/node_modules/
